.errorHandling {
    display: flex;
    min-height: 80dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noFood{
    width: 150px;
    height: 150px;
}

.errorText{
    font-size: x-large;
    font-weight: 600;
}